body
{
    background-color: green;
}

img {
    display: block;
}


.img-plus {
    margin-left: 75px;

}



.container-fluid {
    background-color: #f8f9fa !important;
}

.container-fluid section {

}

.col {
    margin-top: -20px;
    text-align: center;
}


.box {
    margin: auto;
    width: 75%;
    height: 75%;
}

.carousel-item {
    height: 550px;
    justify-content: space-around;
}
