body
{
}

li {
    margin-right: 90px;
    margin-left: 90px;
}

img {
    margin-left: 75px;
}
.jumbotron jumbotron-fluid {
    margin-bottom: -50px;
}


.card  {
    margin-top:    -50px;
}

.card-header {
    padding-top: -40px;
}