body
{
}

li {
    margin-right: 90px;
    margin-left: 90px;
}
.btn btn-primary:hover {
    color: #ff0000;
}

.col-6 {
    display: block;
    text-align: center;
}

img {
    margin-left: 250px;
}


.card-header {
    padding-top: -50px;
}

.nav nav-tabs card-header-tabs {
    border-style: none;
}